.container {
  width: 90%;
  max-width: 400px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.card-header {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-rows: min-content;
  align-items: start;
  gap: 0.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.card-header[slot="card-action"] {
  grid-template-columns: 1fr auto;
}

.card-header.border-b {
  padding-bottom: 1.5rem;
}

.card-header > * + * {
  margin-top: 1rem;
}

.card-heading {
  font-size: 1.875rem;
  font-weight: 700;
  color: #111827;
}

.subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #4b5563;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  user-select: none;
  color: #374151;
  font-weight: 500;
}
