.tab-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 25rem;
  background-color: #f3f4f6;
  padding: 0.25rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem 1.5rem 1.5rem 1.5rem;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.tab-buttons button {
  flex: 1;
  height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0.0625rem solid transparent;
  border-radius: 0.75rem;
  background-color: #f0f0f5;
  color: #374151;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.tab-buttons button.active {
  background-color: #ffffff;
  border: 0px solid black;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
}
