<link rel="stylesheet" href="/components/button/button.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<section id="sectionBtn">
  <div class="button-row">
    <button class="help-btn">Help</button>
    <button class="submit-btn">Submit</button>
  </div>
</section>

<script src="/components/button/button.js" defer></script>
